body{
    background-color: #eee;
}

.button {
    width: 120px;
    text-align: center;
}
.holder{
    float: left;
    margin-bottom: 5px;
    width: 900px;
    height: 700px;
    background-color: #aaa;
}
.cursorBox {
    float: left;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

